$bp-largest: 81.25em; // 1300px
$decrease-size: 76em; // 1216px
$semi-decrease-size: 71em; // 1136px
$large-size: 70em; // 1120px
$big-size: 62em; // 992px
$semi-big-size: 56em; // 896px
$medium-size: 49em; // 784px
$semi-medium-size: 39em; // 624px
$small-size: 36em; // 576px
$semi-small-size: 29em; // 464px
$mini-size: 23.5em; //376px
$tiny-size: 20em; // 320px
